.ant-modal {
  width: 300px !important;
  height: 200px;
}
.ant-modal-content {
  width: 300px;
  height: 200px;
  background-color: #292929 !important;
}

.ant-modal-body {
  background: #1d75c7;
  height: 50px;
  color: #fff;
}
.ant-modal-body p {
  margin-top: -5px;
}

.ant-modal-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  color: #fff;
}
.ant-modal-center h3 {
  color: #fff;
}
.ant-modal-center p {
  margin: 0;
  padding: 0;
  margin-top: -18px;
  margin-bottom: 3px;
}

.ant-modal-close-x {
  color: #fff;
}

.ant-modal-footer {
  margin-top: 150px;
  display: none;
}
.input-value {
  color: #ffffff;
  width: 80%;
  border: none;
  border: 1px solid;
  background-color: #2b2b2b;
}

.input-select {
  color: #ffffff;
  margin-top: 15px;
  width: 80%;
  border-radius: 0;
  background-color: #2b2b2b;
}
.ant-btn {
  margin-top: 18px;
}
