.user-container {
  background: linear-gradient(#1890ff, #1b4a70);
  border: 1px solid rgb(0, 0, 0);
  padding: 35px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.user-photo {
  width: 80px;
  border-radius: 50px;
  cursor: pointer;
}
.user-photo:hover {
  border: 1px solid rgb(255, 255, 255);
}
.user-char {
  margin-left: 15px;
  width: 70%;
}
.pay-button {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  border: none;
  border: 1px solid black;
  padding: 3px 12px;
  transition: 250ms;
  font-size: 14px;
}
.pay-button:hover {
  background-color: rgb(192, 192, 192);
}
